@inherits TwComponentBase<Card, Card.Slots>

<div class="@_slots.GetBase()"
	 data-slot="@SlotNames.NameOf(SlotTypes.Base)"
	 @attributes="AdditionalAttributes">
	@if (HeaderContent is not null)
	{
		<div class="@_slots.GetHeader()"
			 data-slot="@SlotNames.NameOf(SlotTypes.Header)">
			@HeaderContent
		</div>
	}

	<div class="@_slots.GetBody()"
		 data-slot="@SlotNames.NameOf(SlotTypes.Body)">
		@(BodyContent ?? ChildContent)
	</div>

	@if (FooterContent is not null)
	{
		<div class="@_slots.GetFooter()"
			 data-slot="@SlotNames.NameOf(SlotTypes.Footer)">
			@FooterContent
		</div>
	}
</div>

@code
{
	[Parameter]
	public RenderFragment? ChildContent { get; set; }

	[Parameter]
	public RenderFragment? HeaderContent { get; set; }

	[Parameter]
	public RenderFragment? BodyContent { get; set; }

	[Parameter]
	public RenderFragment? FooterContent { get; set; }

	[Parameter]
	public Slots? Classes { get; set; }
}
