@inherits TailwindComponentBase

@if (!string.IsNullOrEmpty(Href))
{
	<a class="@GetSlot(b => b.Base)" href="@Href" @attributes="AdditionalAttributes">
		@RenderInnerContent()
	</a>
}
else
{
	<button class="@GetSlot(b => b.Base)" type="@Type" @attributes="AdditionalAttributes">
		@RenderInnerContent()
	</button>
}

@code 
{
	[Parameter] 
	public RenderFragment? ChildContent { get; set; }
	
	[Parameter] 
	public RenderFragment? IconContent { get; set; }
	
	[Parameter] 
	public Variants Variant { get; set; }
	
	[Parameter] 
	public Sizes Size { get; set; }
	
	[Parameter] 
	public string Type { get; set; } = "button";
	
	[Parameter] 
	public string? Href { get; set; }
	
	[Parameter] 
	public bool FullWidth { get; set; }
	
	[Parameter] 
	public bool Loading { get; set; }
	
	[Parameter] 
	public Slots? Classes { get; set; }

	private RenderFragment RenderInnerContent() => builder =>
	{
		if (Loading)
		{
			builder.OpenElement(0, "span");
			builder.AddAttribute(1, "class", GetSlot(b => b.Spinner));
			builder.CloseElement();
		}
		else if (IconContent is not null)
		{
			builder.OpenElement(2, "div");
			builder.AddAttribute(3, "class", GetSlot(b => b.Icon));
			builder.AddContent(4, IconContent);
			builder.CloseElement();
		}

		builder.AddContent(5, ChildContent);
	};
}
