@inherits TailwindComponentBase

@if (!string.IsNullOrEmpty(Href))
{
	<a class="@Accessors.Base" href="@Href" @attributes="AdditionalAttributes">
		@RenderInnerContent()
	</a>
}
else
{
	<button class="@Accessors.Base" type="@Type" @attributes="AdditionalAttributes">
		@RenderInnerContent()
	</button>
}

@code 
{
	[Parameter] 
	public RenderFragment? ChildContent { get; set; }
	
	[Parameter] 
	public RenderFragment? IconContent { get; set; }
	
	[Parameter] 
	public Variants Variant { get; set; }
	
	[Parameter] 
	public Sizes Size { get; set; }
	
	[Parameter] 
	public string Type { get; set; } = "button";
	
	[Parameter] 
	public string? Href { get; set; }
	
	[Parameter] 
	public bool FullWidth { get; set; }
	
	[Parameter] 
	public bool Loading { get; set; }
	
	[Parameter] 
	public Slots? Classes { get; set; }

	private RenderFragment RenderInnerContent() => __builder =>
	{
		@if (Loading)
		{
			<span class="@Accessors.Spinner"></span>
		}
		else if (IconContent is not null)
		{
			<div class="@Accessors.Icon">
				@IconContent
			</div>
		}

		@ChildContent
	};
}
