@inherits TailwindComponentBase

<div class="@GetClass(b => b.Base)">
	<div class="@GetClass(b => b.ImageWrapper)">
		<img class="@GetClass(b => b.Img)"
			 loading="lazy"
			 src="https://www.tailwind-variants.org/_next/image?url=%2Fshoes-1.png&w=3840&q=75"
			 alt="" />
	</div>
	<div class="flex-auto pl-4 sm:pl-8">
		<div class="relative flex flex-wrap items-baseline">
			<h1 class="@GetClass(b => b.Title)">Nike Adapt BB 2.0</h1>
			<div class="@GetClass(b => b.Price)">$279.97</div>
			<div class="@GetClass(b => b.PreviousPrice)">$350</div>
			<div class="@GetClass(b => b.PercentOff)">20% off</div>
		</div>
		<div class="my-4 flex items-baseline">
			<div class="flex space-x-3 text-sm font-medium">
				<InputRadioGroup @bind-Value="_size">
					@foreach (var size in Sizes)
					{
						<label @key="size">
							<InputRadio Value="@size" class="peer sr-only" />
							<div class="@GetClass(b => b.SizeButton)">@size.ToUpper()</div>
						</label>
					}
				</InputRadioGroup>
			</div>
		</div>
		<div class="flex space-x-4">
			<button class="@GetClass(b => b.BuyButton)">Buy now</button>
			<button class="@GetClass(b => b.AddToBagButton)">Add to bag</button>
		</div>
	</div>
</div>

@code
{
	[Parameter]
	public IEnumerable<string> Sizes { get; set; } = [];

	[Parameter]
	public Colors Color { get; set; }

	private string? _size;

	protected override void OnInitialized()
	{
		_size = Sizes.FirstOrDefault();
	}
}